<!DOCTYPE html>
<html>
<body>

<h1>Twitter!</h1>

<p>API coming soon</p>

<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">The antidote to government by a powerful few is government by the organized, energized many. This National Voter Registration Day, make sure you&#39;re registered, vote early if you can, or show up on November 6. This moment is too important to sit out.</p>&mdash; Barack Obama (@BarackObama) <a href="https://twitter.com/BarackObama/status/1044690296917962754?ref_src=twsrc%5Etfw">September 25, 2018</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Is it just me, or does <a href="https://twitter.com/hashtag/BBCANRisha?src=hash&amp;ref_src=twsrc%5Etfw">#BBCANRisha</a> look exactly like Jan from The Office? <a href="https://twitter.com/hashtag/BBCAN3?src=hash&amp;ref_src=twsrc%5Etfw">#BBCAN3</a></p>&mdash; Maryam Hed (@maryamhed) <a href="https://twitter.com/maryamhed/status/580211279157194752?ref_src=twsrc%5Etfw">March 24, 2015</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>


</body>
</html>
